# Ignore pastas geradas ou conteúdos que não precisam no Git

# Ignore a pasta STATIC_ROOT, onde o collectstatic joga os arquivos estáticos gerados (ajuste conforme seu settings.py)
staticfiles/

# Ignore arquivos de mídia enviados por usuários
/media/
/djangoapp/media/

# Não ignore as pastas estáticas dos apps, para que o código fonte fique no Git
# Remova ou comente estas linhas, pois estão ignorando a pasta static que deve ir para o repo
#/djangoapp/static/
#static/

# Ignore settings locais sensíveis
/djangoapp/project/local_settings.py
/blog/local_settings.py

# Ignore logs, caches e arquivos temporários do Django e Python
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Backup files
*.bak

# Python environments (venv)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker volumes e dados persistentes (ajuste se usar outros diretórios)
/data/

# IDEs e editores
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Arquivos específicos de IDEs - PyCharm, IntelliJ, etc
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries

# Outros arquivos temporários e caches
*.tmPreferences.cache
*.tmlanguage.cache
*.stTheme.cache
*.bak
*.swp
*.tmp

# Python packaging and distribution
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Test and coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Misc
posts/
anotacao.txt
.gitignore copy


# MyPy cache
.mypy_cache/

# Others
sftp-config.json
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# VSCode specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# History (se usa alguma extensão para versionar histórico local)
.history
